{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}


{% block css %}
      <link href="{% static 'css/login.css' %}" rel="stylesheet">
{%  endblock %}

{% block content %}

<div class="card login-card">

<div class="card-header login-card-header">

<h2>Log In</h2>

</div>

    <div class="card-header login-card-body">

    <form class="login-form" method="post">
      {% csrf_token %}
       {{ form|crispy }}

        <div class="login-button-div">
            <input type="submit" value="Log In" class="btn btn-primary login-button">
        </div>

    </form>

    </div>


</div>

{% endblock %}