{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Configuraciones{% endblock %}


{% block css %}
      <link href="{% static 'css/list_obj.css' %}" rel="stylesheet">
{%  endblock %}

{% block content %}

    <div class="list-obj-title-wrapper">

        <div class="list-obj-title-nav">

            <h4 class="list-obj-title">Ordenes</h4>

            <div class="list-obj-add-div">
                <div class="list-obj-menu-div">

                    <button class="btn btn-outline-primary list-obj-add-button" >
                        <a href="{% url 'admin_app:order-create' %}" class="list-obj-link">
                            <span style="color: white;">
                               <i class="fa-solid fa-plus list-obj-add"></i> Nuevo
                           </span>
                         </a>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <div class="filters-div">
            <form action="" method="get" class="filters-form">
                <div class="row form-group mb-0 product-filter-div">

                  <div class="product-filter-wrapper product-filter-form-field col-md-1"></div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-3">
                        {{ filter.form.first_name | as_crispy_field }}
                    </div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-3">
                        {{ filter.form.last_name | as_crispy_field }}
                    </div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-3">
                        {{ filter.form.email | as_crispy_field }}
                    </div>

                    <div class="product-filter-wrapper product-filter-form-button col-md-1">
                        <input class="btn btn-primary" type="submit" value="Buscar" />
                    </div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-1"></div>
                </div>

                  <div class="row form-group mb-0 product-filter-div">
                    <div class="product-filter-wrapper product-filter-form-field col-md-1"></div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-3">
                        {{ filter.form.phone | as_crispy_field }}
                    </div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-3">
                        {{ filter.form.status | as_crispy_field }}
                    </div>

                    <div class="product-filter-wrapper product-filter-form-field col-md-5"></div>
                  </div>
            </form>
    </div>


{% if object_list %}
    <div class="list-obj-wrapper">

        <table class="table" id="globalconfigTable">
         <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Fecha</th>
            <th scope="col">Status</th>
            <th scope="col">Direccion</th>
            <th scope="col">Shipping ID</th>
            <th scope="col">Total</th>
            <th scope="col">Detalles</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
      </thead>
            {% for user_order_obj in object_list %}
                <tbody>
                    <tr>
                        <th scope="row">{{ user_order_obj.id }}</th>
                        <td>{{ user_order_obj.first_name }} {{ user_order_obj.last_name }}</td>
                        <td>{{ user_order_obj.email }}</td>
                        <td>{{ user_order_obj.phone }}</td>
                        <td>{{ user_order_obj.ordered_date }}</td>
                        <td>{{ user_order_obj.status }}</td>
                        <td>{{ user_order_obj.shipping_address }}</td>
                        <td>{{ user_order_obj.shipping_tracking_id }}</td>
                        <td>{{ user_order_obj.payment.amount }}</td>
                        <td><a href="{% url 'admin_app:order-detail' user_order_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-eye"></i> Detalles
                           </span>
                        </a></td>
                        <td><a href="{% url 'admin_app:order-update' user_order_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-pen-to-square"></i> Editar
                           </span>
                        </a></td>
                         <td><a href="{% url 'admin_app:order-delete' user_order_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-trash"></i> Eliminar
                           </span>
                        </a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>


    <div class="list-obj-pagination-wrapper">

        {% if is_paginated %}

            <div class="container-wrap">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 text-center">
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                                    >&laquo;</a
                                  >
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#">&laquo;</a>
                                </li>
                            {% endif %}

                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                              {% endfor %}

                              {% if page_obj.has_next %}
                                <li class="page-item">
                                  <a href="?page={{page_obj.next_page_number}}" class="page-link"
                                    >&raquo;</a
                                  >
                                </li>
                                {% else %}
                                    <li class="page-item disabled">
                                      <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
            </div>
        {% endif %}

    </div>

{% else %}

    <p>No hay ninugna configuracion todavia</p>
{% endif %}



{% endblock %}
