.create-obj-div{
    width: 90% !important;
    max-width: 1000px !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.create-obj-title{
    color: #c0a16b;
    margin-bottom: 50px;
    text-align: center;
}

.create-obj-button-div{
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.create-obj-button{
    width: 150px;
    background-color: #204d74 !important;
    border-color: #204d74;
    border-radius: 0;
}

.create-obj-button:hover{
    background-color: #2e6da4 !important;
}