.detail-obj-div{
  width: 90% !important;
  max-width: 1000px !important;
  margin-top: 50px;
  margin-left: auto!important;
  margin-right: auto!important;
}

.detail-obj-title{
  color: #c0a16b;
  margin-bottom: 50px;
  text-align: center;
}

.detail-obj-info-div{
  display: flex !important;
  flex-direction: row !important;
  column-gap: 5px;
}

.detail-obj-info-span{
  font-weight: bold;
}

.detail-obj-wrappe,
.detail-obj-info-row{
  width: 100% !important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.detail-obj-info-col-wrapper{
  width: max-content !important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.order-detail-comments-div{
  margin-top: 30px;
}

.detail-obj-info-div-wrapper{
  width: max-content !important;
  margin-left: auto!important;
  margin-right: auto!important;
  display: flex !important;
  flex-direction: row !important;
  column-gap: 5px;
}

.order-detail-cart-card{
  margin-top: 30px;
}

.card-header-row{
  height: 30px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  line-height: 30px;
}

.order-detail-cart-card-hearder{
  background-color: #DCE4EB;
}

.order-detail-link{
  color: #c0a16b !important;
}
