{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Categories{% endblock %}


{% block css %}
      <link href="{% static 'css/list_obj.css' %}" rel="stylesheet">
{%  endblock %}

{% block content %}

    <div class="list-obj-title-wrapper">

        <div class="list-obj-title-nav">

            <h4 class="list-obj-title">Categorias</h4>

            <div class="list-obj-add-div">
                <div class="list-obj-menu-div">

                    <div class="list-obj-menu-view">

                        <div class="list-obj-menu-view-icon-div">
                          <button class="btn btn-outline-light"
                          onclick="changeObjListView(false)"
                          >
                                    <span style="color: #c0a16b;">
                                       <i class="fa-solid fa-table-list"></i>
                                   </span>
                            </button>
                      </div>

                      <div class="list-obj-menu-view-icon-div">
                          <button class="btn btn-outline-light"
                            onclick="changeObjListView(true)"
                          >
                                    <span style="color: #c0a16b;">
                                       <i class="fa-solid fa-grip"></i>
                                   </span>
                            </button>
                      </div>

                    </div>

                    <button class="btn btn-outline-primary list-obj-add-button" >
                       <a href="{% url 'admin_app:category-create' %}" class="list-obj-link">
                            <span style="color: white;">
                               <i class="fa-solid fa-plus list-obj-add"></i> Nuevo
                           </span>
                       </a>
                    </button>
                </div>
            </div>

        </div>

    </div>


{% if object_list %}
    <div class="list-obj-wrapper">

        <table class="table" id="categoryTable">
         <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Productos</th>
            <th scope="col">Detalles</th>
            <th scope="col">Eliminar</th>
        </tr>
      </thead>
            {% for category_obj in object_list %}
                <tbody>
                    <tr>
                        <th scope="row">{{ category_obj.id }}</th>
                         <td>{{ category_obj.title }}</td>
                        <td><a href="{% url 'admin_app:clothing-products-category-filter' category_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-shirt"></i> Productos
                           </span>
                        </a></td>
                        <td><a href="{% url 'admin_app:category-update' category_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-pen-to-square"></i> Editar
                           </span>
                        </a></td>
                        <td><a href="{% url 'admin_app:category-delete' category_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-trash"></i> Eliminar
                           </span>
                        </a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

        <div class="grid" id="categoryGrid">
            <div class="container">
              <div class="row">
                  {% for category_obj in object_list %}
                      <div class="col-3">
                        <a href="{% url 'admin_app:category-update' category_obj.id %}" class="list-obj-link">

                          <div class="card collection-card">
                              <img src="{{category_obj.image.url}}" alt="Category {{ category_obj.title }}"
                                class="card-img collection-card-image"
                              />
                              <div class="card-body collection-card-body">
                                  {{ category_obj.title }} {{ category_obj.year }}
                                  <span style="color: #c0a16b;">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                      </span>
                              </div>
                          </div>

                      </a>
                      </div>
                  {% endfor %}
            </div>
        </div>

    </div>


    <div class="list-obj-pagination-wrapper">

        {% if is_paginated %}

            <div class="container-wrap">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 text-center">
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                                    >&laquo;</a
                                  >
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#">&laquo;</a>
                                </li>
                            {% endif %}

                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                              {% endfor %}

                              {% if page_obj.has_next %}
                                <li class="page-item">
                                  <a href="?page={{page_obj.next_page_number}}" class="page-link"
                                    >&raquo;</a
                                  >
                                </li>
                                {% else %}
                                    <li class="page-item disabled">
                                      <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
            </div>
        {% endif %}

    </div>

{% else %}

    <p>No hay ninugna categoria todavia</p>
{% endif %}

{% block script_js %}
    <script>

        var show_obj_view = function (elem) {
        elem.style.visibility = "visible";
        };

        var hide_obj_view = function (elem) {
            elem.style.visibility = "hidden";
        };

        hide_obj_view(document.getElementById('categoryTable'))

        function changeObjListView(type_of_view){
            if(type_of_view){
                hide_obj_view(document.getElementById('categoryTable'))
                show_obj_view(document.getElementById('categoryGrid'))
            }
            else{
                show_obj_view(document.getElementById('categoryTable'))
                hide_obj_view(document.getElementById('categoryGrid'))
            }
        }
    </script>
{% endblock %}

{% endblock %}
