{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Configuraciones{% endblock %}


{% block css %}
      <link href="{% static 'css/list_obj.css' %}" rel="stylesheet">
{%  endblock %}

{% block content %}

    <div class="list-obj-title-wrapper">

        <div class="list-obj-title-nav">

            <h4 class="list-obj-title">Colores</h4>

            <div class="list-obj-add-div">
                <div class="list-obj-menu-div">

                    <button class="btn btn-outline-primary list-obj-add-button" >
                       <a href="{% url 'admin_app:custom-color-create' %}" class="list-obj-link">
                            <span style="color: white;">
                               <i class="fa-solid fa-plus list-obj-add"></i> Nuevo
                           </span>
                       </a>
                    </button>
                </div>
            </div>

        </div>

    </div>


{% if object_list %}
    <div class="list-obj-wrapper">

        <table class="table" id="customColorTable">
         <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
      </thead>
            {% for custom_color_obj in object_list %}
                <tbody>
                    <tr>
                        <th scope="row">{{ custom_color_obj.id }}</th>
                        <td>{{ custom_color_obj.nickname }}</td>
                        <td>
                            <div class="horizontal-td">
                                <div>{{ custom_color_obj.code }}</div>
                                <div class="custom-color-display-div"
                                     style="width: 15px;
                                             height:15px;
                                             background-color: {{ custom_color_obj.code }};
                                             border: 1px solid #444444;
                                             border-radius: 50px;
                                             margin-top: 5px;">
                                </div>
                            </div>
                        </td>
                        <td><a href="{% url 'admin_app:custom-color-update' custom_color_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-pen-to-square"></i> Editar
                           </span>
                        </a></td>
                        <td><a href="{% url 'admin_app:custom-color-delete' custom_color_obj.id %}" class="list-obj-link">
                            <span style="color: #c0a16b;">
                               <i class="fa-solid fa-trash"></i> Eliminar
                           </span>
                        </a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>


    <div class="list-obj-pagination-wrapper">

        {% if is_paginated %}

            <div class="container-wrap">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 text-center">
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                                    >&laquo;</a
                                  >
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#">&laquo;</a>
                                </li>
                            {% endif %}

                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                              {% endfor %}

                              {% if page_obj.has_next %}
                                <li class="page-item">
                                  <a href="?page={{page_obj.next_page_number}}" class="page-link"
                                    >&raquo;</a
                                  >
                                </li>
                                {% else %}
                                    <li class="page-item disabled">
                                      <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
            </div>
        {% endif %}

    </div>

{% else %}

    <p>No hay ningun color disponible todavia</p>
{% endif %}



{% endblock %}