{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Nuevo Color{% endblock %}


{% block css %}
      <link href="{% static 'css/create_obj.css' %}" rel="stylesheet">
{%  endblock %}

{% block content %}

    <div class="create-obj-div">

    <h4 class="create-obj-title">Color</h4>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

             <div class="row">
              <div class="form-group col-md-8 mb-0">
                {{ form.nickname|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.code|as_crispy_field }}
              </div>
            </div>

            <div class="create-obj-button-div">
                <input class="btn btn-primary create-obj-button" type="submit" value="Guardar">
            </div>

        </form>

    </div>

{% endblock %}